<%- include('./includes/begin.ejs') %> 

<form action="/user" method="POST">
    <input type="text" placeholder="Your name" name="user" required>
    <button type="submit">ADD USER</button>
</form>

<%- include('./includes/end.ejs') %>